.archive-result {
    display: none;
}

.archive {
    .archive-title {
        color: $font-color-base;

        &:hover {
            text-decoration: underline;
        }
    }
    .archive-posts {
        list-style: none;

        .archive-post {
            .archive-post-title {
                margin-left: 5px;
                color:       $font-color-base;
                font-weight: bold;

                .archive-post-number {
                    color:   map-get($colors, link);
                }
                
                &:hover {
                    text-decoration: underline;
                }
            }
            .archive-post-date {
                color: map-get($colors, light);
            }
        }
    }
}